@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&family=Libre+Baskerville:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
  }

html{
    /*Cada 1rem será considerado 10px*/
    font-size: 62.5%;
}
  
body {
    font-size: 3.6rem;
    background-color: rgb(181, 211, 212);
}

text {
    font-family: 'Inconsolata', monospace;
    font-family: 'Libre Baskerville', serif;
}

.header {
    width: 100%;
    height: 8rem;
    background-color: rgb(34, 30, 30);  
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    text-align: center; 
    color: rgb(202, 202, 211);
    font-size: 4rem;
    font-family:'Libre Baskerville', serif;
}

.content {
    flex-direction: column;
    text-align: center;
    margin-left: 10%;
}

.content h3{
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.content h2 {
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
}


.tabhead {
    font-family:'Libre Baskerville', serif;
    color: #000000;
    font-weight: bold;
    font-size: 1.5rem;
}

.tabv {
    font-family:'Libre Baskerville', serif;
	color: #000000;
	background-color: #ffadad;
	font-weight: plain;
    font-size: 1.2rem;
    text-decoration-line: underline;
}

button {
    width: 26px;
    height: 4;
    color: red;
    font-weight: bold;

}

.content .livros{
    margin-top: 2rem;
}

.content .livros .listaLivros .tabheader td{
    margin-top: 2rem;
    text-align: center;
} 


.content .livros .cad-livros{
    flex-direction: column;
    justify-items: center;
    text-align: center;
    max-width: 80%;
}
.content .livros .cad-livros form{
    align-items: center;
    justify-content: center;
    border: solid 1px blue;
    margin-left: 25%;
    margin-bottom: 5rem;
}

.content .livros .cad-livros input{
    width: 80%;
    height: 3.5rem;
    border-radius: 0.4rem;
    margin-top: 3rem;
}

.content .livros .cad-livros button{
    width: 80%;
    height: 3.5rem;
    border-radius: 0.4rem;
    background-color: rgb(135, 155, 223);
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-family:bold 'Libre Baskerville', serif;
    color: rgb(4, 4, 37);
}

.content .clientes .cad-cliente{
    flex-direction: column;
    justify-items: center;
    text-align: center;
    max-width: 80%;
}
.content .clientes .cad-cliente form{
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(35, 35, 48);
    margin-left: 25%;
}

.content .clientes .cad-cliente input{
    width: 80%;
    height: 3.5rem;
    border-radius: 0.4rem;
    margin-top: 3rem;
}


.content .clientes .cad-cliente button{
    width: 80%;
    height: 3.5rem;
    border-radius: 0.4rem;
    background-color: rgb(86, 87, 88);
    color: rgb(250, 250, 250);
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-family:bold 'Libre Baskerville', serif;
}

.content .clientes .cad-cliente td{
    margin-top: 2rem;
    text-align: center;
}

.content .locacao .cad-locacao{
    flex-direction: column;
    justify-items: center;
    text-align: center;
    max-width: 80%;
}
.content .locacao .cad-locacao form{
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(35, 35, 48);
    margin-left: 25%;
    margin-bottom: 10rem;
}

.content .locacao .cad-locacao input{
    width: 80%;
    height: 3.5rem;
    border-radius: 0.4rem;
    margin-top: 3rem;
}
.content .locacao .cad-locacao select{
    width: 80%;
    height: 3.5rem;
    border-radius: 0.4rem;
    margin-top: 3rem;
}

.content .locacao .cad-locacao button{
    width: 80%;
    height: 3.5rem;
    border-radius: 0.4rem;
    background-color: rgb(30, 109, 189);
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: rgb(231, 231, 236);
    font-family:bold 'Libre Baskerville', serif;
}
.content .locacao .cad-locacao td{
    margin-top: 2rem;
    text-align: center;
}
